<%- include('partials/header.ejs') %>

  <div class="container">
    <div class="jokes">
      <% if(jokes){%>
      <%= jokes %>
      <%} else{ %>
        Click bellow button to get jokes 👇
      <% } %>
    </div>
    <div class="btn">
     <form ><button type="submit" formaction="/getjokes">
        get jokes
      </button></form> 
    </div>
  </div>
  <%- include('partials/footer.ejs') %>
